/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.login {
  background-image: url('https://cdn.pixabay.com/photo/2016/02/26/17/32/s-record-player-1224385_960_720.jpg') !important;
}

.login .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #C0A71A;
  color: #C0A71A;
  margin-bottom:20px;
}

.login .form-control:focus {
  background-color: transparent;
  outline: 0;
  box-shadow: none !important;
}

.login .form-control::placeholder {
  color: rgba(193, 168, 26, 0.5);
}

.login .options {
  margin-top: -50px;
}

.login .btn {
  margin-top: 10px;
}

.login .options .btn {
  margin-top: 10px;
  font-size: 24px;
}

.login .options .btn-outline-dark {
  color: #FE2C55;
}

.login .options .btn-outline-dark:hover {
  color: #FFF;
}

