/*--------------------------------------------------------------
# Player
--------------------------------------------------------------*/
.offcanvas-bottom .offcanvas-body {
  margin: -5px;
  overflow: hidden;
}

.offcanvas-bottom .card {
  background-color: transparent;
}

/*--------------------------------------------------------------
# Player
--------------------------------------------------------------*/
.player-options {
  background-color: rgba(1, 20, 38, 0.6);
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0 2px 2px 0;
}

#playlist .card {
  background-color: #0D3A76;
}

#playlist .list-group .list-group-item {
  background-color: #0D3A76;
  color: #fff;
}

#playlist .list-group .list-group-item:hover {
  background-color: #1355AD;
  color: #fff;
}

#playlist .list-group .list-group-item .active {
  background-color: #067ded;
}

#playlist .list-group {
  height: 335px;
  overflow: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.social {
  background-color: #0D3A76;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  min-height: 100vh;
}

.iconbox-blue {
  background: #0D3A76;
  color: #fff;
}

.icon-box-lightblue {
  background: #1355AD;
  color: #fff;
  border-radius: 20px;
}

.services .icon-box {
  text-align: center;
  padding: 20px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  /* box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05); */
}

.services .icon-box img {
  height: 250px;
  box-shadow: 0px 0px 90px 25px rgba(13, 59, 118, 1);
}

.playlist .card-profile {
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.playlist .card-profile h2 {
  background-color: rgba(9, 41, 83, 0.5);
  padding: 10px;
  border-radius: 20px;
}

.playlist .card {
  border-radius: 10px;
  background-color: #0678e3;
  color: #fff;
  margin-top: 0px;
}

.card .list-group li:hover {
  background-color: #517da7;
}

.iconbox-blue nav {
  border-radius: 5px;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.form-control {
  box-shadow: none !important;
  background-color: transparent !important;
}

.form-group .form-control,
.form-group .form-control::placeholder {
  color: var(--text);
  border-color: var(--text);
}

.form-group textarea {
  resize: none;
}


.btn .btn-rounded {
  /* border-radius: 50px; */
  box-shadow: 0px 0px 90px 25px rgb(173, 190, 211);
}