/*--------------------------------------------------------------
# Player
--------------------------------------------------------------*/
.offcanvas-bottom .offcanvas-body {
  margin: -5px;
  overflow: hidden;
}

.offcanvas-bottom .card {
  background-color: transparent;
}

/*--------------------------------------------------------------
# Player
--------------------------------------------------------------*/
.player-options {
  background-color: rgba(1, 20, 38, 0.6);
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0 2px 2px 0;
}

#playlist .card {
  background-color: var(--spartaHoveredColor);
}

#playlist .list-group .list-group-item {
  background-color: var(--spartaHoveredColor);
  color: #fff;
}

#playlist .list-group .list-group-item .bg-dark {
  border-radius: 0 !important;
  padding: 0 !important;
}

#playlist .list-group .list-group-item:hover{
  background-color: #1355AD;
  box-shadow: 0 0 10px 0 var(--text);
  z-index: 2;
}

#playlist .list-group .list-group-item .active {
  background-color: #067ded;
  box-shadow: 0 0 10px 0 var(--text);
  z-index: 2;
}

#playlist .list-group {
  height: 335px;
  overflow: auto;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.social {
  background-color: #0D3A76;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  min-height: 100vh;
}

.iconbox-blue {
  background: var(--spartaHoveredColor);
  color: #fff;
}

.icon-box-lightblue {
  background: var(--spartaHoveredColor);
  color: #fff;
  border-radius: 20px;
}

.services .icon-box {
  text-align: center;
  transition: all ease-in-out 0.3s;
  padding: 20px 20px 20px 20px;
}

.services .icon-box img {
  height: 250px;
  width: 250px;
  box-shadow: 0px 0px 90px 5px rgba(13, 59, 118, 1);
}

.services .icon-box .btn {
  font-size: 32px;
  padding: 0 !important;
  margin: 0 !important;
  vertical-align: middle !important;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #45505b;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.playlist .card-profile {
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.playlist .card-profile h2 {
  padding: 20px;
  border-radius: 20px;
}

.list-group-item .bg-dark,
.playlist .card-profile .bg-dark {
  background-color: rgba(9, 41, 83, 0.5) !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.playlist .card {
  border-radius: 10px;
  background-color: var(--spartaHoveredColor);
  color: #fff;
  margin-top: 0px;
}

.card .list-group li:hover {
  background-color: #517da7;
}

.iconbox-blue nav {
  border-radius: 5px;
}


.form-control {
  box-shadow: none !important;
  background-color: transparent !important;
}

.form-group .form-control,
.form-group .form-control::placeholder {
  color: var(--text);
  border-color: var(--text);
}

.form-group textarea {
  resize: none;
}

.form-select {
  border:none;
  box-shadow: none !important;
}

.icons-playlist {
  display: block; 
  vertical-align: center;
}

.btn-outline-light:hover {
  background-color: rgb(208, 207, 207) !important;
}

.btn-outline-light .active {
  background-color: #fff !important;
}