/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
:root {
    --iconColor: #fff;

    --youtubeHighlightColor: #fe0000;
    --youtubeNeutralColor: #de0000;
    --youtubeHoveredColor: #b90000;

    --spotifyHighlightColor: #29f171;
    --spotifyNeutralColor: #1db954;
    --spotifyHoveredColor: #158d41;

    --twitchHiglightColor: #9965ff;
    --twitchNeutralColor: #6441A4;
    --twitchHoveredColor: #4b3675;

    --vimeoHiglightColor: #29c0ff;
    --vimeoNeutralColor: #19b7ea;
    --vimeoHoveredColor: #147ea1;
}

/*--------------------------------------------------------------
# Search Label and Input
--------------------------------------------------------------*/

.search-body .form-control {
    background-color: transparent;
    border: none;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.search-body .form-control:focus {
    background-color: transparent;
    outline: 0;
    box-shadow: none !important;
}

.search-body .btn-search {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.search-body .btn-search:hover,
.search-body .btn-search:active {
    color: #fff;
}

.search-body .spotify {
    color: var(--spotifyHighlightColor);
    border-bottom-color: var(--spotifyNeutralColor);
}

.search-body .spotify .btn-search,
.search-body .spotify::placeholder {
    color: var(--spotifyHighlightColor);
}

.search-body .youtube {
    color: var(--youtubeHighlightColor);
    border-bottom-color: var(--youtubeNeutralColor);
}

.search-body .youtube .btn-search,
.search-body .youtube::placeholder {
    color: var(--youtubeHighlightColor);
}

.search-body .twitch {
    color: var(--twitchHiglightColor);
    border-bottom-color: var(--twitchNeutralColor);
}

.search-body .twitch .btn-search,
.search-body .twitch::placeholder {
    color: var(--twitchHiglightColor);
}

.search-body .vimeo {
    color: var(--vimeoHiglightColor);
    border-bottom-color: var(--vimeoNeutralColor);
}

.search-body .vimeo .btn-search,
.search-body .vimeo::placeholder {
    color: var(--vimeoHiglightColor);
}

.search-body .results {
    margin-top: 30px;
}

/*--------------------------------------------------------------
# Dropdown buttons
--------------------------------------------------------------*/

.btn-twitch {
    background-color: var(--twitchNeutralColor);
    background-color: var(--twitchNeutralColor);
    color: var(--iconColor) !important;
}

.btn-twitch:hover {
    background-color: var(--twitchHoveredColor) !important;
    color: var(--iconColor);
}

.btn-twitch:active {
    background-color: var(--twitchHoveredColor) !important;
}

.btn-youtube {
    background-color: var(--youtubeNeutralColor);
    border-color: var(--youtubeNeutralColor);
    color: var(--iconColor) !important;
}

.btn-youtube:hover {
    background-color: var(--youtubeHoveredColor) !important;
    color: var(--iconColor);
}

.btn-youtube:active {
    background-color: var(--youtubeHoveredColor) !important;
}

.btn-vimeo {
    background-color: var(--vimeoNeutralColor);
    border-color: var(--vimeoNeutralColor);
    color: var(--iconColor) !important;
}

.btn-vimeo:hover {
    background-color: var(--vimeoHoveredColor) !important;
    color: var(--iconColor);
}

.btn-vimeo:active {
    background-color: var(--vimeoHoveredColor) !important;
}

.btn-spotify {
    background-color: var(--spotifyNeutralColor);
    border-color: var(--spotifyNeutralColor);
    color: var(--iconColor) !important;
}

.btn-spotify:hover {
    background-color: var(--spotifyHoveredColor) !important;
    color: var(--iconColor);
}

.btn-spotify:active {
    background-color: var(--spotifyHoveredColor) !important;
}


/*--------------------------------------------------------------
# Dropdown submenu
--------------------------------------------------------------*/

.dropdown-menu {
    min-width: auto !important;
    padding-bottom: 0;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown-menu .spotify {
    background-color: var(--spotifyNeutralColor);
    color: var(--iconColor);
}

.dropdown-menu .spotify div:active {
    background-color: var(--spotifyHoveredColor) !important;
    border-color: var(--spotifyNeutralColor);
    color: var(--iconColor);
}

.dropdown-menu .twitch {
    background-color: var(--twitchNeutralColor);
    color: var(--iconColor);
}

.dropdown-menu .twitch div:active {
    background-color: var(--twitchHoveredColor);
    border-color: var(--twitchNeutralColor);
    color: var(--iconColor);
}


.dropdown-submenu {
    position: relative;
    background-color: transparent;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

/*--------------------------------------------------------------
# Floating Player
--------------------------------------------------------------*/
.player-flutuante {
    margin-top: 5px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1000;
}

.closeButton {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #f5f5f5;
    background-color: rgb(255, 255, 255, 0.2)
}

.closeButton:hover {
    background-color: rgb(255, 255, 255, 0.4)
}

.moveButton {
    position: absolute;
    top: 0px;
    right: 25px;
    color: #f5f5f5;
    background-color: rgb(255, 255, 255, 0.2)
}

.moveButton:hover {
    background-color: rgb(255, 255, 255, 0.4);
    font-size: 20px;
    z-index: 1071;
    padding-top: 0px;
    padding-right: 4px;
}

.player-flutuante iframe {
    border: none;
    box-shadow: 0 10px 20px 0 #3b3b3b;
}

/*--------------------------------------------------------------
# Search results
--------------------------------------------------------------*/
.card {
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: #0D3A76;
    padding:none;
}

.card-img-overlay {
    color: #fff;
    background: rgba(7, 30, 61, 0.5);
    height: 50px;
    overflow: hidden;
    margin:none;
}

.card:hover .card-img-overlay {
    color: #fff;
    transition: 400ms;
    height: 100%;
    border-radius: 20px;
}

.card:not( :hover) .card-img-overlay {
    transition: 400ms;
}



.row .display-flex {
    display: flex;
    flex-wrap: wrap;
}

.results .card {
    max-width: 100%;
}

.results .card img {
    border-radius:20px;
}

.results .add-playlist {
    background-color: rgba(19, 87, 174, .7)
}

.scale:hover {
    transition: 200ms;
    transform: scale(1.1);
}

.result .options {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin-right: 15px;
    margin-bottom: 25px;
}

.result .options .btn {
    font-size: 32px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.options-dropdown {
    position: absolute;
    top:10px;
    left:10px;
    z-index: 10;
}

.options-dropdown .btn {
    color: #fff;
    border-top-left-radius: 20px;
    padding: 0;
}

.options-dropdown .btn i,
.options-top .btn {
    color: #fff;
    font-size: 32px;
    margin: 0;
}

.options-top {
    position: absolute;
    top: 0;
}

.options .btn-add {
    background-color: rgba(242, 243, 245, 0.3);
    padding: 0;
    width: 42px;
    height: 42px;
    padding-bottom: -20px;
    color: #fff;
}

.options .btn-add i {
    padding: 0;
}

.options .btn-add:hover,
.options .btn-add:active {
    color: #0d3a76;
}

.modal-body .list-group .add-list:hover {
    background-color: #027cee;
    color: #fff;
}

.modal-body .list-group-item:hover {
    background-color: #1355AD;
    color: #fff;
}